.title {
  font-family: 'Titillium Web', sans-serif;
  height: 67vh;
}

.title h1 {
  font-size: 100px;
  text-align: center;
}

.logo-font {
  font-family: 'BEBAS', sans-serif;
  letter-spacing: 1px;
}

.heading-font {
  font-family: 'Titillium Web', sans-serif;
}

.day-heading {
  text-align: right;
  font-family: 'Titillium Web', sans-serif;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: #222;
  color: #ccc;
}

.lunch-heading, .evening-heading{
  position: relative;
  background-color: rgba(31,31,31,0.65);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 33vh;
}

.lunch-heading {
  background-image: url("/img/lunch.jpg");
}

.evening-heading {
  background-image: url("/img/marquee.jpg");
}

.parallax-heading {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  opacity: 1;
}

.parallax-heading span {
  padding: 18px;
  background-color: #fff;
  color: #111;
  font-size: 40px;
  letter-spacing: 10px;
  padding-right: 8px;
}

.parallax-heading span img {
  padding-right: 30px;
  padding-bottom: 5px;
}

.overview {
  font-size: 18px;
  padding-top: 20px;
  text-align: justify;
  text-align-last: center;
}

p {
  text-align: justify;
}
