.jumbotron {
  font-family: 'Titillium Web', sans-serif;
}

.logo-font {
  font-family: 'Titillium Web', sans-serif;
}

.heading-font {
  font-family: 'Titillium Web', sans-serif;
}

.day-heading {
  text-align: right;
  font-family: 'Titillium Web', sans-serif;
}

body {
  font-family: 'Titillium Web', sans-serif;
}
